@using Learning_Path.Models
@model List<Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("NEW MOVIE", "FormMovie", "Movies", new { id = 0 }, new { @class = "btn btn-primary" })

<table class="table table=bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    @foreach (Movie movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(movie.Name, "FormMovie", "Movies", new { id = movie.Id }, null)
            </td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>