@model Learning_Path.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@if (Model.Id == -1)
{
    <p>We don't have any customers yet.</p>
}
else
{
    <ul>
        <li>Membership Type:@Model.MembershipType.Name</li>
        @if (Model.Birthday.HasValue)
        {
            <li>Birthday:@Model.Birthday.Value.ToShortDateString()</li>
        }
    </ul>

}
